.burger {
    display: none;
}

.window {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.2s ease-in-out;
}

.holder {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.brand {
    width: 275px;
}

.brand img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.less-space {
    margin-top: -10px
}

.more-space {
    margin-top: 10px
}

.holder-element {
    width: 275px;
    margin-top: 30px;
}

.holder-element svg {
    width: 12px;
    height: auto;
    margin-left: 10px;
    margin-top: 1px;
    transition: transform .2s ease-in-out;
}

.holder-element button:hover svg {
    transform: translate(3px, 0);
}

.holder-element input {
    -webkit-text-security: disc;
    text-security: disc;
}

@media all and (max-width: 650px) {

    .burger {
        display: block;
        cursor: pointer;
    }

}
